body {
  background:#eee;
  padding-top:4em;
  text-align:center;
}

.container {
  background:#fff;
  padding:40px;
  width:90%;
  max-width:860px;
  margin:40px auto;
  box-shadow:0 0 40px #ccc;
}

h1 {
  text-align:center;
}

img {
  display:block;
  margin:2em auto;
  max-width:600px;
  width:100%;
}

form.stripe-checkout-button button {
  display:block;
  margin:0 auto;
  text-align:center;
}

.price-form label input {
  background:transparent !important;
  border:none !important;
  text-align:center !important;
  margin:0 !important;
  padding:0 !important;
  font-size:20px;
  position:relative;
  top:-2px;
  width:80px;
  font-family:helvetica, arial, sans-serif;
}

.price-form label {
  position:relative;
  font-size:20px;
  display:inline-block;
  border-bottom:1px solid #000;
}

button {
  background:#59B3B4 !important;
  border-color:#4fa0a1 !important;
  color:#fff !important;
}

button:hover, button:active {
  background:#4fa0a1 !important;
}